body {
  background: darkgray;
}

#loading {
  font-size: larger;
}

#submit-bar {
  background: #DADADA;
  padding: .5em;
  display: flex;
  z-index: 1;
}

#github-link {
  width: 100%;
  text-align: right;
}

#submit-bar a {
  color: black;
  text-decoration: none;
}

#right-pane {
  flex: 1;
  margin-left: 1em;
}

#ast-output {
  background: white;
  height: 90vh;
  padding: 0 1em;
  overflow: scroll;
}

#left-pane {
  flex: 1;
  height: 95vh;
}

#information-bar {
  padding: .5em;
  background: #DADADA;
}

#code-input + div {
  border: 3px solid gray;
  font-size: larger;
}

#container {
  display: flex;
}

/* override json viewer arrows */
a.json-toggle:before {
  font-size: 50%;
  top: 25%;
}
