/* some style */

body {
  background: darkgray;
}

#submit-bar {
  background: #DADADA;
  padding: .5em;
}

#right-pane {
  flex: 1;
  margin-left: 1em;
  height: 95vh;
  overflow: scroll;
  background:white;
}

#left-pane {
  flex: 1;
  height: 95vh;
}

#information-bar {
  padding: .5em;
  background: #DADADA;
}

#code-input + div {
  border: 3px solid gray;
  font-size: larger;
}

#container {
  display: flex;
}
